body, html, *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.header{
	height: 70px;
	width: 100%;
	background: #333;
	text-align: center;
	line-height: 70px;
	color: darkgoldenrod;
}
main{
	width: 70%;
	margin: 50px auto;
}
.signInForm,.signUpForm{
	width: 50%;
	height: auto;
	padding: 50px;
	margin: 0 auto;
	background-color: darkgoldenrod;
	box-shadow: 10px 10px 20px #aaaaaa;
}
.signInForm h1,.signUpForm h1{
text-align: center;
padding-bottom: 20px;
}
.signInForm input,.signUpForm input{
	display: block;
	width: 300px;
	height: 40px;
	padding: 5px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.signInForm button,.signUpForm button{
	width: 300px;
	height: 50px;
	font-size: 30px;
	cursor: pointer;
}
.signUpForm{
	display: block;
}
.footer{
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background: #333;
	color: darkgoldenrod;
}